@model IEnumerable<Library.Models.Book>

@{
    ViewData["Title"] = "Böcker";
}

<h1>Böcker</h1>

<p>
    <a asp-action="Create">Lägg till bok</a>
</p>
<form asp-controller="Book" asp-action="Index" method="get">
    <div class="form-group">
        <label for="SearchString">Sök bok efter titel:</label><br>
        <input type="text" name="SearchString" />
        <input type="submit" value="Sök" />
    </div>
</form>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
